.footer {
    background-color: white;
    min-height: max-content;    
    padding-left: 4rem;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.logo-footer {
    margin-top: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.logo-footer img {
    width: 115px;
}
.logo-footer p {
    font-size: .75rem;
    color: black;
    margin-top: 0;
}
.social {
    margin-top: auto;
    margin-bottom: 12px;
    padding-bottom: 16px;
}
.social img {
    margin-top: 48px;
    margin-bottom: 12px;
    width: 16px;
    padding: 3px;
    align-items:baseline;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    padding-right: 32px;
    width: 50%;
    box-sizing: border-box;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.footer-menu ul {
    list-style: none;
    padding-left: 0px;
    
}
.footer-menu li {
}

.footer-menu li a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.footer-menu li a:hover {
    opacity: 70%;
}
.countries {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #f4f4f4;
    min-width: 60em;
    margin-left: 31px;
}
.country p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
}